<footer class="footer">
  <div class="container">
    <div class="footer_inner">
      <div class="footer_credits">
        <div class="footer_copy">&copy; 2021</div>
        <div class="footer_social">
          <a href="https://instagram.com" target="_blank">
            <img src="/img/instagram.svg" width="25" height="21" alt="Insta" />
          </a>
          <a href="https://vk.com" target="_blank">
            <img src="/img/vk.svg" width="25" height="21" alt="VK" />
          </a>
          <a href="https://www.linkedin.com" target="_blank">
            <img src="/img/linkedin.svg" width="25" height="21" alt="Linkedin" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
