<header class="header">
  <div class="container">
    <div class="header__inner">
      <div class="user">
        <div class="user_avatar">
          <img src="../img/ElbrusLogo.svg" />
        </div>
        <div class="user_content">
          <div class="user_name"><a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="/" role="tab"
              aria-controls="pills-home" aria-selected="true">CarBnb</a></div>
          <div class="user_prof">Аренда автомобилей по всему миру</div>
        </div>
      </div>

      <nav class="nav">
        {{#if username}}
        <a class="btn" id="pills-profile-tab" data-toggle="pill" href="/users/{{userID}}" role="tab"
          aria-controls="pills-profile" aria-selected="false">{{username}}</a>
        <a class="nav_link" href="/users/logout">Выйти</a>
        {{else}}
        <a class="nav_link" href="/users/login">Вход</a>
             <a class="btn" href="/users/signup" >Регистрация</a>
        {{/if }}
      </nav>
    </div>
  </div>
</header>
