  <section class="about">
    <div class="container">

      <div class="about_inner">
        <div class="about_photo">
          <img src="../core-css-layout-site/images/ps6j93yp08A.jpg" width="307" height="409">
        </div>
        <div class="about_content">
          <h3 class="about_title" id="t1">NAME USER</h3>
          <h2 class="about_bigtitle">{{carDB.carName}}</h2>
          <div class="about_text">
             ОПИСАНИЕ ТОВАРА
          </div>
          <a class="btn" href="https://vk.com" target="_blank">Write me</a>
        </div>
      </div>
    </div>
  </section>

