<form action="/create/new" method="POST" enctype="multipart/form-data">
  <input class='form-control' type="text" name="city" placeholder="city">
  <input class='form-control' type="text" name="carName" placeholder="carName">
  <input class='form-control' type="text" name="productionYear" placeholder="year of production">
  <input class='btn' type="file" name="carImg">
  <button class='btn'>добавить авто</button>
</form>
