<form action="/create/new" method="POST" enctype="multipart/form-data">
  <input type="text" name="city" placeholder="city">
  <input type="text" name="carName" placeholder="carName">
  <input type="file" name="carImg" placeholder="carImg">
  <button>добавить авто</button>
</form>
