{{!-- search!
<ul>
  {{#each articlesByCity}}
  <li>{{this.carName}}</li>
  {{/each}}
</ul>
<button><a href="/article"></a></button> --}}

<div class="works">
    <div class="container">
        <div class="portfolio">
            <div class="portfolio__col">
                <div class="work">
                    <img class="work__image" src="https://placehold.it/370x300" alt="">
                    <div class="work__content">
                        <div class="work__cat">category</div>
                        <div class="work__title">
                            Project title
                            <!-- <time class="work__date" datetime="2019-11-22 19:00">2019</time> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="portfolio__col">
                <div class="work">
                    <img class="work__image" src="https://placehold.it/370x300" alt="">
                    <div class="work__content">
                        <div class="work__cat">category</div>
                        <div class="work__title">
                            Project title
                            <!-- <time class="work__date" datetime="2019-11-22 19:00">2019</time> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="portfolio__col">
                <div class="work">
                    <img class="work__image" src="https://placehold.it/370x300" alt="">
                    <div class="work__content">
                        <div class="work__cat">category</div>
                        <div class="work__title">
                            Project title
                            <!-- <time class="work__date" datetime="2019-11-22 19:00">2019</time> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="portfolio__col">
                <div class="work">
                    <img class="work__image" src="https://placehold.it/370x300" alt="">
                    <div class="work__content">
                        <div class="work__cat">category</div>
                        <div class="work__title">
                            Project title
                            <!-- <time class="work__date" datetime="2019-11-22 19:00">2019</time> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="portfolio__col">
                <div class="work">
                    <img class="work__image" src="https://placehold.it/370x300" alt="">
                    <div class="work__content">
                        <div class="work__cat">category</div>
                        <div class="work__title">
                            Project title
                            <!-- <time class="work__date" datetime="2019-11-22 19:00">2019</time> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="portfolio__col">
                <div class="work">
                    <img class="work__image" src="https://placehold.it/370x300" alt="">
                    <div class="work__content">
                        <div class="work__cat">category</div>
                        <div class="work__title">
                            Project title
                            <!-- <time class="work__date" datetime="2019-11-22 19:00">2019</time> -->
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.portfolio -->
    </div><!-- /.container -->
</div><!-- /.works -->
