  <title>Зарегистрироваться</title>

  <form class="form-signin" action="/users/signup" method="POST">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal">Регистрация<br></h1>

    </div>

    <div class="form-label-group">
      <label for="name">Имя пользователя<br></label>
      <input type="text" name="name" class="form-control" placeholder="имя" required autofocus>
    </div>

    <div class="form-label-group">
      <label for="password">Пароль<br></label>
      <input type="password" name="password" class="form-control" placeholder="Пароль" required>
    </div>

    <div class="form-label-group">
      <label for="email">Электронная почта<br></label>
      <input type="email" name="email" class="form-control" placeholder="Электронная почта" required>
    </div>
    <div class="btn-lg">
    <button class="btn  btn-primary btn-block" type="submit" ><a href="">Войти</a></button>
  </div>
   </form>

